
/* Open Sans Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --sq-size: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* height: 90vh; */
    font: 15px 'Open Sans', sans-serif;
    padding: 2rem;
}

/* Board */
.player {
    position: relative;
}

.board {
    display: grid;
    grid: repeat(10, var(--sq-size)) / repeat(10, var(--sq-size));
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background: #55f4;
    cursor:pointer;
}

.square {
    border: 1px solid black;
}

.square:hover:not(.ship, .miss) {
    background: #44fa;
}

.ship {
    background: #555;
    border: none;
}

.miss, .hit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.hit {
    background: url("../img/x.png");
}

.miss {
    background: url("../img/o.png");
}

/* ---------------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

h1 {
    position: relative;
    top: -10px;
}

#status {
    display: flex;
    align-items: center;
    background: rgba(85, 85, 255, 0.119);
    min-width: 300px;
    height: 2rem;
    border-radius: 10px;
}

button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #55f4;
    cursor: pointer;
}

.play-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .container {} */

.bar#controls {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    /* height: 50px; */
    /* background: #55f4; */
    /* border-radius: 10px; */
}

.bar#controls button {
    margin: 0 10px;
    font-size: 1rem;
}

.bar#controls button:hover {
    background: #44fa;
}

/* ---------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

footer a {
    color: rgb(85, 85, 255);
    text-decoration: none;
}

footer a:hover {
    color: #44fa;
}

footer > * {
    margin: 0 10px;
}